# CMake Files
CMakeCache.txt
cmake_install.cmake
Makefile
CMakeFiles

# Visual Studio Files
*.vcproj*
*.vcxproj*
*.sdf
*.sln
*.suo
*.opendb
*.dir
*/Debug
*/Release
*/MinSizeRel
*/RelWithDebInfo
Win32
ipch

# Compiled Files
bin

# Created Directories
.drm